.hero {
    background: $BG-COLOR;

    &__wrapper {
        margin: 0 auto;
    }
    &__all-info {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 87px;
        text-align: left;
        padding: 200px 0 64px 0;
    }

    &__span {
        color: #ef6d58;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-transform: uppercase;
    }

    &__title {
        position: relative;
        color: white;
        font-size: 72px;
        font-weight: 800;
        line-height: 80px;
        margin-top: 24px;

        img {
            position: absolute;
            top: -10%;
            right: 12%;
        }
    }

    &__desc {
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin-top: 24px;
    }

    &__personal-data {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-left: 10%;
        padding: 0 0 20px 0;
    }

    &__personal-desc {
        color: grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    &__personal-span {
        color: white;
    }

}

@include mobile() {
    .hero {
        min-width: 375px;

        &__all-info {
            flex-direction: column-reverse;
            padding: 120px 23px;
            margin-right: 80px;
            margin-left: 80px;
        }
        
        &__bg-img {
            display: none;
        }

        &__desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: grey;
            margin-left: 10px;
        }

        &__img-2 {
            width: 329px;
        }

        &__title {
            font-size: 56px;
            font-weight: 800;
            line-height: 64px;
            margin-left: 10px;
        }

        &__span {
            margin-left: 10px;
        }

        &__personal-data {
            margin-right: 80px;            
        }

        &__personal-desc {
            margin-top: 30px;
        }
   
    }
}
