.product {
    background: $BG-2-COLOR;

    &__wrapper {
        display: flex;
        padding: 213px 135px 141px 0;
        justify-content: center;
        gap: 180px;
        align-items: center;
    }

    &__span {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #ef6d58;
        text-transform: uppercase;
    }

    &__title {
        font-size: 56px;
        font-weight: 800;
        line-height: 64px;
        color: #391400;
    }

    &__desc {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        color: #391400;
        margin-top: 26px;
    }

    &__person-info {
        display: flex;
        margin-top: 31px;
        gap: 10px;
        align-items: center;
    }

    &__span-2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #391400;
        margin-left: 76px;
    }

    &__desc-2 {
        color: #391400a3;
    }
}

@include mobile() {
    .product {
        min-width: 375px;

        &__wrapper {
            justify-content: center;
            padding: 20px 20px;
            flex-direction: column;
        }

        &__info {
            margin-top: -100px;
        }
    }
}
